@font-face {
  font-family: pixelFont;
  src: url("font/Pixeled.ttf");
}

html {
  height: 100%;
  width: 100vw;
  font-family: pixelFont, sans-serif;
  background-image: url("images/bg.jpg");
  background-repeat: repeat;
}
.tip {
  text-transform: uppercase;
}
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: opacity(0.7);
  animation: colorIt 25s infinite;
}
@keyframes colorIt {
  0%,
  100% {
    background-color: rgb(255, 255, 255);
  }
  20% {
    background-color: rgb(70, 70, 70);
  }
  40% {
    background-color: rgb(46, 71, 99);
  }
  60% {
    background-color: rgb(37, 125, 119);
  }
  80% {
    background-color: rgb(82, 22, 22);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 60vw;
  width: 60vw;
  border: 3px solid black;
  transition-duration: 1s;
}

@media (min-width: 1800px) {
  .container {
    height: 40vw;
    width: 40vw;
  }
}

.square {
  background-color: white;
  /* box-shadow: -1px 1px 0px red inset; */
  flex: 1 0 6.25%;
  height: 6.25%;
}

button {
  padding: 15px 50px;
  margin: 10px;
  font-family: pixelFont;
}

.settingsPop {
  display: none;
  background-color: rgb(184, 184, 184);
  border: 3px solid black;
  position: absolute;
  padding: 25vw;
  height: 10vw;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}
.settingsPop span {
  position: relative;
  bottom: 170px;
}
#inputNum {
  text-align: center;
  font-family: pixelFont;
  outline: none;
}
